<div class="boxsize">
    <div *ngFor="let notes of childMessage" class="con">
        <mat-card class="card" [style.background]="notes.color">
            <div>
                <h2 (click)="openDialog(notes)">{{notes.title}}</h2>
                <p class="para" (click)="openDialog(notes)">{{notes.description}}</p>
            </div>
            <div class="con" *ngIf="notes" >
                <app-icon [notecard]="notes" (archiverefresh)="notearchive($event)" (trashrefresh)=" iconautorefresh($event)" (refreshcolor)=" colorRefresh($event)"></app-icon>
            </div>
        </mat-card>
    </div>
</div>


