<div class="maincontainer">
    <div class="subcontainer">
        <div class="title">
            <input class="title1" type="text" matInput placeholder="title">
 <img height="30px" width="30px" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg" alt=""></div>
 <div class="descript">
    <input class="title2" type="text" matInput placeholder="Take a note...">
 </div>
 <div class="close">
    <button class="button" routerLink="/dashboard/Notes/displaynote">Close</button>
 </div>
</div>
</div>
