.maindiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    border: 0px solid gainsboro;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
}
.subdic{
    height: 90%;
    width: 40%;
    display: flex;
    border: 1px solid gainsboro;
    flex-direction:column;
    flex-wrap: wrap;
    border-radius: 10px;
}

.content1
{
    height: 12%;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    border: 0px solid black;
   
}
.k1{
  width: 100%;
   font-size:25px ;
  height: 10%;
   border: 0px solid red;
   display: flex;
   align-items: center; 
   justify-content: center;
}
.k2{
  width: 100%;
   font-size:medium ;
  height: 5%;
  display: flex;
   border: 0px solid red; 
  align-items: flex-start;
  justify-content: center;
}
.k3{
 display: flex;
  border: 0px solid yellow; 
 height: 10%;
 width: 80%;
align-items: center;
justify-content: center;
flex-direction: column;
}
.field1{
    position: relative;
    left: 50px;
    top: 20px;
}
.box1{
    position: relative;
    left: 50px;
    top: 20px;
    border: 0px;
    color:rgb(0, 115, 255); 
    background:0px ;
    font-weight: 600;
}
.k4{
  height: 45%;
 width: 76%;
 font-size: 15px;
 color: rgb(113, 104, 104);
}


.k6{
    position: relative;
    border: 0px solid yellow; 
   height: 10%;
   width: 80%;
   top: 30px;
 
 }
 .box2{
    position: relative;
    left: 50px;
    top: 50px;
    border: 0px;
    color: rgb(0, 115, 255); 
    background:0px ;
    font-weight: 600;
 }
 .box3{
    position: relative;
    left: 50px;
    top: 20px;
    border: 0px;
    color: rgb(0, 115, 255);
    background:0px ;
    font-weight: 600;
 }
 .box4{
    position: relative;
    left: 55px;
    top: 35px;
    border: 0px;
    color: rgb(0, 115, 255); 
    background:0px ;
 }
 .k7{
   height: 45%;
  width: 76%;
  font-size: 15px;
  color: rgb(113, 104, 104);
 }
 .p3{
  display: flex;
   border: 0px solid greenyellow; 
  height: 10%;
  width: 100%;
 position: relative;
 top: 70px;
 left: 60px;
 
 }

 .box5{
    position: relative;
    left: 55px;
    top: 100px;
    border: 0px;
    color: rgb(0, 115, 255); 
    background:0px ;
    font-weight: 600;
 }
 
 .box6{
    position: relative;
    left: 400px;
    top: 80px;
    border: 0px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180%;
    width: 12%;
    background:rgb(0, 115, 255); 
    border-radius: 5px;
 }